.library {
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    height: 100%;
    background: #005dc8a1;
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.432);
    overflow-y: scroll;

    h2 {
        //   text-align: center;
        padding: 2rem;
    }
    &::-webkit-scrollbar {
        display: none;
    }
    scrollbar-width: thin;
    scrollbar-color: #eee;
}
.library-song {
    display: flex;
    align-items: center;
    //  flex-direction: column;
    padding: 1rem 2rem 1rem 2rem;
    cursor: pointer;
    img {
        width: 30%;
        border-radius: 50%;
    }
    &:hover {
        background: #005dc8;
    }
}
.song-description {
    padding-left: 1rem;
    p {
        font-size: 0.9rem;
    }
}
