.player {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.time-control {
    width: 50%;
    display: flex;
    align-items: center;
    input {
        width: 100%;
        // padding: 1rem;
    }
    p {
        margin: 0px 10px;
        width: 65px;
        text-align: center;
    }
    input {
        width: 100%;
    }
}
.play-control {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    svg {
        cursor: pointer;
    }
   
}
