nav {
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    button {
        background: #0092cc;
        border-radius: 7px;
        cursor: pointer;
        border: none;
        color: white;
        padding: 0.5rem;
        outline: none;
        transition: all 0.3s ease;
        font-family: "Poppins", sans-serif;
        &:hover {
            background: #0080b3;
            color: white;
        }
    }
}
